# Ignora dependencias
node_modules/

# Ignora carpetas de salida de Electron
/dist/
/build/
/out/
*.asar

# Ignora salidas de Capacitor y Android Studio
/android/
*.apk
*.aab

# Ignora configuraciones locales
.env
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Archivos grandes por accidente
*.exe
*.zip
*.tar
*.7z
*.rar
